$main-color:#2ecc71;
$second-color:#27ae60;

*{
    margain:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: url(1.jfif)no-repeat center center /cover;


    
}

